.heroImg {
    background-image: url(https://imagenes.20minutos.es/files/image_656_370/uploads/imagenes/2020/03/13/juegos-de-mesa.jpeg); 
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: auto;
}

.somos {
    max-width: 1000px;
}

.text__shadow {
    text-shadow: 2px 3px 2px black;
}

.equipo {
    background-color: #cecece;
    text-align: center;
    padding: 30px 0;
}

.equipo__titulo {
    font-size: 30px;
}

@media (max-width: 500px) {
    .space {
        display: none;
    }

    .somos {
        padding: 0;
    }
}

@media (max-width:375px) {
    .img__mediam {
        width: 300px;
    }
}

@media (max-width:319px) {
    .equipo {
        display: none;
    }
}