.heroImg {
    background-image: url(https://imagenes.20minutos.es/files/image_656_370/uploads/imagenes/2020/03/13/juegos-de-mesa.jpeg); 
    background-size: cover;
    background-position: center;
    height: 500px;
}

.somos {
    text-align: center;
    padding: 50px 0;
    max-width: 1000px;
    margin: auto;
}

h1 {
    color: white; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px black;
}

.word__color {
    display: inline;
    font-size: 30px;
    color: rgb(68, 149, 255);
}

.equipo {
    background-color: #cecece;
    text-align: center;
    padding: 50px 0;
}

.equipo__titulo {
    font-size: 30px;
}

.equipo__format {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 660px) {
    .equipo__format {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .space {
        display: none;
    }

    .somos {
        padding: 0;
    }
}

@media (max-width:375px) {
    .img__mediam {
        width: 300px;
    }
}

@media (max-width:319px) {
    .equipo {
        display: none;
    }
}