* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
}

header {
    display: inline-block;
    padding: 5px;
    background-color: #1572A1;
    position: sticky;
    top: 0px;
    grid-area: header;
}

header div {
    display: flex;
    justify-content: space-between;
}

.header__start {
    display: flex;
    align-self: center;
}

.h2__format {
    color: rgb(179, 198, 214); 
    margin-right: auto; 
    padding-left: 5px;
}

.menu__text {
    font-size: 40px;
    display: none;
}

.buttonburguer {
    background-color: transparent;
    border: 0px;
    padding: 0 25px;
    display: none;
    align-self: center;
    height: 97px;   
}
.img__format {
    display: flex;
    margin: 0 auto;
    justify-items: center;
}

header div nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

header div nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    padding: 8px 12px;
    font-size: 20px;
    background-color: darkcyan;
    border-radius: 15px;
    border: 2px solid black;  
}

nav ul li a {
    text-decoration: none;
    color: white;
    }

.burguer__list {
    background-color: #1572A1;
    width: 100%;
    padding-right: 10px;
    text-align: end;
    position: absolute;
    top: 97px;
    right: 0px;
    display: none;
}

.burguer__list ul {
    list-style: none;
    margin: 5px;
}

.burguer__list ul li {
    padding: 5px 0;
}

.burguer__list ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-image: linear-gradient(to bottom, #cecece 10%, #1572A1);
    background-size: contain;
    padding: 10px;
}

.footer__format {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.links__format {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 10px;
}

.links__format--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.none {
    display: none;
}
    
@media (max-width:1080px) {
    .h2__format {
        display: none;
    }
}

@media (max-width:768px) {
    header div nav {
        display: none;
    }

    .menu__text {
        display: flex;
        align-items: center;
    }

    .buttonburguer {
        display: inline-block;
    }
/*Animación icono menu hamburguesa*/
    header div div div img{
        transition: transform 0.5s;    
    }

    header div div div:hover img{
        transform: rotate(90deg);
    }

    header div div div section {
        transition: transform 3s;
    }

    header div div div:hover section{
        display: block;
    }

    .img__medias {
        display: none;
    }

    .div__media {
        display: none;
    }

    .none {
        display: flex;
        justify-content: space-evenly;
        padding: 15px 0;
    }
}
