* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img__animation {
    animation-name: img__effect;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

@keyframes img__effect {
    0% {transform: scale(0);}
    25% {transform: scale(0.25);}
    50% {transform: scale(0.5);}
    75% {transform: scale(0.75);}
    100% {transform: scale(1);}
}
