main {
    background-color: #cecece;
}

main div a {
    padding: 10px;
}

main div a img {
    width: 100%;
}

.img__select {
    transform: translateY(0px);
    transition: transform 0.5s ease;
}

.img__select:hover {
    transform: translateY(-15px);
}