.ficha {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

@media (max-width: 528px) {
    .ficha p {
        @include fontsize (12px, normal);
    }

    h3 {
        @include fontsize (17px, normal);
    }
}