.main__bg {
    background-color: $backgroundprimary;

    .tiendas__img a {
        padding: 10px;

        img {
            width: 100%;
        }

        .img__select {
            transform: translateY(0px);
            transition: transform 0.5s ease;
            max-height: 100px;
        }
        
        .img__select:hover {
            transform: translateY(-15px);
        }
    }
}

.bmain__bg {
    background-color: $backgroundsecondary
}

.container__format {
    @extend .mw__extend;
    padding: 20px;
}

@each $rrss, $border in $border-rrss {
    .btn-#{$rrss} {
        border: $border;
    }
}

@each $rrss, $padding in $padding-rrss {
    .btn-#{$rrss} {
        padding: $padding;
    }
}