$backgroundprimary : #cecece;

$backgroundsecondary : #a8a4a4;

$border-rrss : (
    facebook: 5px double #3b5998,
    instagram: 5px double #e1306c,
    youtube: 5px double #c4302b,
    );

$padding-rrss : (
    facebook: 2px,
    instagram: 2px,
    youtube: 2px,
    );